@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');

/* disable default style for .nostyle anchors */

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: inherit;
}

/**/

.popup {

    font-family: 'Stardos Stencil';

    bottom: 0;
    position: fixed;

    width: 100%;

    font-size: 2.5vh;

    text-align: center;

    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.popup-button {
    background-image: url(images/bckgrnd_header_macrocat.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.popup-content {
    background-image: url("./images/Header-Capodanno-Sfondo.png");
    background-repeat: repeat-x;
    background-size: contain;
    height: 8vh;
    font-size: 3.5vh;

    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

    display: flex;
    justify-content: center;
    align-items: center;

    
    color: #dfc154;
}

.home {
    width: 100%; 
    height: 100%;

    /*
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */

    font-family: 'Stardos Stencil';
    letter-spacing: 2px;

    /* color: #4f2603; */

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url("./images/bckgrnd_header_subcat.jpg"); /*TODO*/
    background-repeat: no-repeat;
    background-size: cover;

    width: 50vmax;

    box-shadow: rgba(0,0,0,0.8) 0px 2px 3px, inset rgba(0,0,0,0.8) 0px -1px 2px;

    height: 100%;
}

.home-content > * {
    flex-grow: 1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    max-width: 70%;
}


.home-content * {
    text-align: center;
}

.home-content .text {
    font-size: 2vh
}

.home-content .text-small {
    font-size: 1vh
}

.home-content .title {
    font-size: 2.5vh;
    background-image: url(images/bckgrnd_header_macrocat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 4vw;
}

.home-content .title-big {
    font-size: 5vh
}


body {
    overflow: hidden;
    height: 100vh;
    margin: 0px;
    /*background-image: url("./images/bckgrnd_img_JB_menu_2.jpg");*/
    background-image: url("./images/sfondo_verde.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* LAYOUT */
#page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0px 1fr 0px;
    /* background-image: url("./images/bckgrnd_img_JB_menu_2.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-blend-mode: lighten; */
}

/* .logo {
    background-image: url("./images/logo_prova.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
} */

.categories-column {
    display: flex;
    flex-direction: column;
}

.box {
    /* background-image: url("./images/macro_headers_bckgrnd_gradient_2.jpg"); */
    /* background-repeat: repeat-x; */
    /* background-repeat: no-repeat;
    background-size: contain; */
    /* background-size: 150vh; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category-box {
    display: grid;
    grid-template-columns: 1fr 10vw;
    /* justify-content: center; */

    margin: 5vh 2vw;
    height: 15vh;

    padding: 0vh 2vw;

    cursor: pointer;

    background-image: url("./images/bckgrnd_header_subcat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.category-title {
    font-family: 'Stardos Stencil';
    /* font-family: "Standard CT Stencil Bold"; */
    letter-spacing: 2px;
    font-size: 5vh;
    /* color: #4f2603; */
    font-weight: 700;

    display: flex;
    align-items: center;

    /* background-image: url("./images/plus_icon.png");
    background-repeat: no-repeat;
    background-size: 5vh;
    background-position: right; */
}


/* .category-title > * {
    flex-grow: 1;
}

.category-title > :nth-child(2) {
    font-size: 3vh;
} */

.category-button {
    background-repeat: no-repeat;
    background-size: 5vh;
    background-position: center;
}

.category-small {
    background-size: 1vh;
}

.category-button.plus {
    background-image: url("./images/plus_icon.png");
}

.category-button.minus {
    background-image: url("./images/minus_icon.png");
}

.category-button.close {
    background-image: url("./images/x_icon.png");
}

.items-container {
    overflow-y: scroll; 
    height: 75vh;
}

.items-container > :last-child > div.subcategory-box:last-of-type {
    margin-bottom: 25vh;
}

.subcategory-box {
    margin: 5vh 2vw;
    /* height: 15vh; */

    padding: 0vh 2vw;

    display: grid;
    grid-template-columns: 1fr 10vw;

    cursor: pointer;

    /* background-repeat: no-repeat, repeat-x;
    background-size: 5vh, 100vh;
    background-position: right, left;

    background-image: url("./images/plus_icon.png"), url("./images/macro_headers_bckgrnd_gradient_2.jpg"); */

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

    background-repeat: no-repeat;
    background-size: 5vh;
    background-position-x: 50px;
    background-position: right;
    
    background-image: url("./images/plus_icon.png"); */

    background-image: url("./images/bckgrnd_header_macrocat.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.subcategory-title {
    font-family: 'Stardos Stencil';
    /* font-family: "Standard CT Stencil Bold"; */
    letter-spacing: 2px;
    font-size: 4vh;
    /* color: #4f2603; */
    font-weight: 700;

    /* display: flex; */
    /* justify-content: center; */
}

.item-box {

    display: grid;
    grid-template-columns: 2fr 1fr;

    /* align-items: center;
    justify-content: center; */

    margin: 2vh 2vw;

    padding: 2vh 2vw;

    background-image: url("./images/bckgrnd_header_items.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .item-box > :nth-child(2) {
    grid-row: span 3;
} */

.item-title {
    font-family: 'Stardos Stencil';
    /* font-family: "Standard CT Stencil Bold"; */
    letter-spacing: 2px;
    font-size: 3vh;
    /* color: #4f2603; */
    font-weight: 400;
}

.item-title-bar {
    display: flex;
    align-items: center; 
}

.item-title-bar > :first-child {
    margin-right: 1vh;
}

.item-description {
    /* font-family: 'Stardos Stencil';

    font-size: 1vh;
    color: #4f2603;
    font-weight: 100; */
    font-size: 1.5vh; 
    font-family: 'Stardos Stencil';
    font-weight: lighter;
}

.item-price {
    /* font-family: 'Stardos Stencil';

    font-size: 1vh;
    color: #4f2603;
    font-weight: 100; */
    font-size: 2vh; 
    font-family: 'Stardos Stencil';
    font-weight: lighter;
}

.subcategory-header {
    display: grid; 
    grid-template-rows: 1fr 1fr;
}

.subcategory-header > :nth-child(1) {
    font-size: 4vh;
}

.subcategory-header > :nth-child(2) {
    font-size: 3vh;
}

.info-icon {
    height: 5vh;
}

.prices-grid {
    display: flex; 
    flex-direction: column;
    height: 100%;
    
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* justify-content: center; */
    /* align-items: center;
    justify-items: center; */
}

.item-column {
    display: flex; 
    flex-direction: column;
}

.allergens-row {
    display: flex; 
    align-items: center; 
    margin-top: 2vh;
    font-size: 2vh;
}

.allergens-row > :first-child {
    margin-right: 1vh;
}

.tippy-tooltip[data-size=large] {
    padding:.375rem .75rem;
    font-size: 2vh;
}